{% extends "journal/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Edenthought | Password Reset
{% endblock %}

{% block content %}
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Password Reset Sent</h3>
    <br>
    <p >We've emailed you instructions for setting a new password!</p>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Reset Send</title>
    </head>
    <body>
        <h3>Password Reset Send</h3>
        <p>We've emailed you instructions for setting a new password!</p>
    </body>
</html> -->