{% extends "journal/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Edenthought | Reset Password
{% endblock %}

{% block content %}
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Password Reset</h3>
    <p>Forgotten your password?</p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button class="btn btn-outline-primary w-100" type="submit">Send password reset email</button>
    </form>
</div>
{% endblock %}




<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Reset</title>
    </head>
    <body>
        <h3>Password Reset</h3>
        <p>Forgotten your password?</p>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="Send mail">
        </form>
    </body>
</html> -->